src/flows/Vaccine_Administer_Flow_V2.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Create_Digital_Cred_from_IBM</name>
        <label>Create Digital Cred from IBM</label>
        <locationX>3732</locationX>
        <locationY>548</locationY>
        <actionName>CreateVaccinationCredAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_Service_Appointment</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Unable_to_Connect_to_IBM</targetReference>
        </faultConnector>
        <inputParameters>
            <name>subjectId</name>
            <value>
                <elementReference>var_Persons_AccountId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>firstname</name>
            <value>
                <elementReference>var_FirstName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>lastname</name>
            <value>
                <elementReference>var_LastName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>birthdate</name>
            <value>
                <elementReference>var_DOB</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>gender</name>
            <value>
                <elementReference>var_Gender</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>nationality</name>
            <value>
                <stringValue>United States</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>passport</name>
            <value>
                <stringValue>12345678</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>dttm</name>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetDisease</name>
            <value>
                <stringValue>Covid-19</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>vaccine</name>
            <value>
                <stringValue>SARS-CoV-2</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>vaccineCode</name>
            <value>
                <stringValue>01</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>manufacturer</name>
            <value>
                <elementReference>var_ManufacturerName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>lotnumber</name>
            <value>
                <elementReference>var_LotNumber</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>expirationDate</name>
            <value>
                <elementReference>NextYearwithtime</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>var_EHR_RecordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>filename</name>
            <value>
                <stringValue>Vaccine QR</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Unable_to_Connect_to_IBM</name>
        <label>Unable to Connect to IBM</label>
        <locationX>3535</locationX>
        <locationY>543</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>The get Health Pass apex failed.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>laura.bell@salesforce.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>An Error Occurred in the Vaccine Administration V2 Flow.</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_Appointment_Id</name>
        <label>Assign Appointment Id</label>
        <locationX>656</locationX>
        <locationY>622</locationY>
        <assignmentItems>
            <assignToReference>var_ServiceAppointmentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Service_Appointment_In_Progress.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Service_Appointment_Details</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Inputs_to_Variables_Dose1</name>
        <label>Assign Inputs to Variables Dose 1</label>
        <locationX>2872</locationX>
        <locationY>1002</locationY>
        <assignmentItems>
            <assignToReference>var_DoseNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WhichDoseIsThis_1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_InjectionSite</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>InjectionSite_1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_DateTimeofInjection</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DateTimeofVaccination_1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_LotNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Lot_Number1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Inventory_Unit_Record_Type_Id</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Inputs_to_Variables_Dose2</name>
        <label>Assign Inputs to Variables Dose 2</label>
        <locationX>2873</locationX>
        <locationY>768</locationY>
        <assignmentItems>
            <assignToReference>var_DoseNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WhichDoseIsThis_2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_InjectionSite</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>InjectionSite_2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_DateTimeofInjection</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Date_Time_of_Vaccination_2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_LotNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Lot_Number_2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Inventory_Unit_Record_Type_Id</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Selected_RX_Order_to_Variable</name>
        <label>Assign Selected RX Order to Variable</label>
        <locationX>980</locationX>
        <locationY>1038</locationY>
        <assignmentItems>
            <assignToReference>var_SelectedRXOrder</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Selected_RX_Orders2.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ManufacturerName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Selected_RX_Orders2.Manufacturers_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_VaccineType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Selected_RX_Orders2.Vaccine_Lookup__r.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_VaccineId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Selected_RX_Orders2.Vaccine_Lookup__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_LotNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Selected_RX_Orders2.Unit_Lot_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_LocationName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Selected_RX_Orders2.Account__r.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_LocationCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Selected_RX_Orders2.Ship_to_City__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_LocationState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Selected_RX_Orders2.Ship_to_State__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_LocationPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Selected_RX_Orders2.Ship_to_Zip__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Selected_RX_Orders2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Step_0</name>
        <label>Assign Step 0</label>
        <locationX>825</locationX>
        <locationY>866</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Step0_Confirm_Patient</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Immunization_History</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Step_1</name>
        <label>Assign Step 1</label>
        <locationX>1301</locationX>
        <locationY>1175</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Step1_ReviewHistory</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Review_Immunization_History</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Step_2</name>
        <label>Assign Step 2</label>
        <locationX>1161</locationX>
        <locationY>865</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Step2_Medical_History</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Consent_Provided</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Step_3</name>
        <label>Assign Step 3</label>
        <locationX>1773</locationX>
        <locationY>761</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Step3_Allergies</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Allergies_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Step_3_0</name>
        <label>Assign Step 3</label>
        <locationX>1775</locationX>
        <locationY>959</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Step3_Allergies</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Allergies_Screen_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Step_4</name>
        <label>Assign Step 4</label>
        <locationX>2052</locationX>
        <locationY>761</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Step4_Administer_Vaccine</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_COVID_Immunization_History</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Step_5</name>
        <label>Assign Step 5</label>
        <locationX>3022</locationX>
        <locationY>1281</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Step5_Monitor</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>MontorPatientScreen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Values_to_Record_Variable</name>
        <label>Assign Values to Record Variable</label>
        <locationX>152</locationX>
        <locationY>1025</locationY>
        <assignmentItems>
            <assignToReference>Get_Service_Appointment_In_Progress</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Service_Appointment_Dose_2</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>AssignStep6</name>
        <label>AssignStep6</label>
        <locationX>3823</locationX>
        <locationY>804</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Step6_Confirmation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Test_Screen</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Dose1Choice</name>
        <choiceText>Dose 1</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Dose 1</stringValue>
        </value>
    </choices>
    <choices>
        <name>Dose2</name>
        <choiceText>Dose 2</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Dose 2</stringValue>
        </value>
    </choices>
    <choices>
        <name>Dose3</name>
        <choiceText>Dose 3</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Dose 3</stringValue>
        </value>
    </choices>
    <choices>
        <name>Dose4</name>
        <choiceText>Dose 4</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Dose 4</stringValue>
        </value>
    </choices>
    <choices>
        <name>Dose5</name>
        <choiceText>Dose 5</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Dose 5</stringValue>
        </value>
    </choices>
    <choices>
        <name>NoChoice</name>
        <choiceText>No</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </choices>
    <choices>
        <description>No, I have not experienced a anaphylaxis or severe reaction.</description>
        <name>NoReaction</name>
        <choiceText>No, I have not experienced a anaphylaxis or severe reaction.</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No Reaction</stringValue>
        </value>
    </choices>
    <choices>
        <name>selectavalue</name>
        <choiceText>&lt;i&gt;-select a value-&lt;/i&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Unknown</stringValue>
        </value>
    </choices>
    <choices>
        <description>Yes, I&apos;ve had an anaphylaxis reaction in the past.</description>
        <name>YesAnaphylaxis</name>
        <choiceText>Yes, I&apos;ve had an anaphylaxis reaction in the past.</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Anaphylaxis</stringValue>
        </value>
    </choices>
    <choices>
        <name>YesChoice</name>
        <choiceText>Yes</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <choices>
        <description>Yes, I have had a severe and immediate reaction in the past.</description>
        <name>YesSevereReaction</name>
        <choiceText>Yes, I have had a severe and immediate reaction in the past.</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Severe and Immediate</stringValue>
        </value>
    </choices>
    <decisions>
        <description>Has the patient already provided Consent</description>
        <name>Consent_Provided</name>
        <label>Consent Provided</label>
        <locationX>1296</locationX>
        <locationY>868</locationY>
        <defaultConnector>
            <targetReference>Medical_History_Form</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Consent Given</defaultConnectorLabel>
        <rules>
            <name>Yes_consent_given</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_ConsentProvided</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Medical_History_Screen</targetReference>
            </connector>
            <label>Yes Consent Given</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_EHR_Immunization_Exist</name>
        <label>Does EHR Immunization Exist?</label>
        <locationX>3326</locationX>
        <locationY>884</locationY>
        <defaultConnector>
            <targetReference>Create_EHR_Immunizaton</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Record Exists</defaultConnectorLabel>
        <rules>
            <name>Yes_Record_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_EHR_RecordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_EHR_Immunization</targetReference>
            </connector>
            <label>Yes, Record Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Find_a_Service_Appointment</name>
        <label>Find a Service Appointment?</label>
        <locationX>331</locationX>
        <locationY>629</locationY>
        <defaultConnector>
            <targetReference>Create_a_Service_Appt</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>None Found</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Service_Appointment_In_Progress</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Appointment_Id</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_this_the_first_dose_in_series</name>
        <label>Is this the first dose in series?</label>
        <locationX>3321</locationX>
        <locationY>1651</locationY>
        <defaultConnector>
            <targetReference>Create_Completed_Dose_Two_for_Protocol</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_first_dose</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopThroughTemplate.DoseNumber__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Completed_Dose_One_for_Protocol</targetReference>
            </connector>
            <label>Yes, first dose</label>
        </rules>
    </decisions>
    <decisions>
        <name>Schedule_Dose_2</name>
        <label>Schedule Dose 2</label>
        <locationX>2816</locationX>
        <locationY>1284</locationY>
        <defaultConnector>
            <targetReference>Send_Text</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Schedule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ScheduleDose2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Schedule_Dose_2_Flow</targetReference>
            </connector>
            <label>Yes Schedule</label>
        </rules>
    </decisions>
    <decisions>
        <name>Send_Text</name>
        <label>Send Text?</label>
        <locationX>2569</locationX>
        <locationY>1302</locationY>
        <defaultConnector>
            <targetReference>FastForwardScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Text_Me</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Does_the_patient_want_information_about_VSafe_texted_to_them</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Text_Vsafe_information_0</targetReference>
            </connector>
            <label>Yes Text Me</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_BarCode_Scanned_0</name>
        <label>Was BarCode Scanned?</label>
        <locationX>2626</locationX>
        <locationY>1010</locationY>
        <defaultConnector>
            <targetReference>Assign_Inputs_to_Variables_Dose1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Scanner_was_used_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_BarcodeScan_output</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Inputs_to_Variables_Dose1</targetReference>
            </connector>
            <label>Scanner was used</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_Object_is_the_Record_Id</name>
        <label>What Object is the Record Id</label>
        <locationX>170</locationX>
        <locationY>211</locationY>
        <defaultConnector>
            <targetReference>Get_Contact_Details</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Contact</defaultConnectorLabel>
        <rules>
            <name>Person_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>001</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Person_Account_Details</targetReference>
            </connector>
            <label>Person Account</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_Dose_is_this</name>
        <label>Which Dose is this?</label>
        <locationX>2200</locationX>
        <locationY>444</locationY>
        <defaultConnectorLabel>Dose 1</defaultConnectorLabel>
        <rules>
            <name>Dose_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_EHR_RecordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Dose 2</label>
        </rules>
    </decisions>
    <decisions>
        <description>based on the scheduled appt</description>
        <name>Which_Dose_Is_This2</name>
        <label>Which Dose Is This</label>
        <locationX>2487</locationX>
        <locationY>763</locationY>
        <defaultConnector>
            <targetReference>Get_EHR_Vaccination_Protocol</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>First_Dose</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_Sequence</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>First</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_Administer_Vaccine_Dose1</targetReference>
            </connector>
            <label>First Dose</label>
        </rules>
    </decisions>
    <description>adding risk level and alert</description>
    <dynamicChoiceSets>
        <name>Allergens</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Allergen__c</object>
        <sortField>Sort_Order__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Choices_TestResults</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Test_Result__c</picklistField>
        <picklistObject>ServiceAppointment</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>DoseChoices</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Dose__c</picklistField>
        <picklistObject>Unit__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>InjectionSites</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Injection_Site__c</picklistField>
        <picklistObject>Unit__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>VaccineChoices</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Vaccine_Type__c</picklistField>
        <picklistObject>Vaccine__c</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <formulas>
        <name>agentscript</name>
        <dataType>String</dataType>
        <expression>&quot;Life-threatening allergic reactions to vaccine shots are very rare. Signs of serious allergic reaction can include breathing problems, hoarseness or wheezing, hives, paleness, weakness, a fast heartbeat, or dizziness. If they do occur, it is usually within a few minutes to a few hours after receiving the shot. These reactions can occur among persons who are allergic to something that is in the vaccine, such as egg protein or other ingredients. While severe reactions are uncommon, you should let your doctor, nurse, clinic, or pharmacist know if you have a history of allergy or severe reaction to any vaccine.&quot;</expression>
    </formulas>
    <formulas>
        <name>HadReactionFormula</name>
        <dataType>Boolean</dataType>
        <expression>IF({!SevereReaction}={!NoReaction},false,true)</expression>
    </formulas>
    <formulas>
        <name>HaveAllergiesFormula</name>
        <dataType>Boolean</dataType>
        <expression>IF({!KnownAllergies}=null,false,true)</expression>
    </formulas>
    <formulas>
        <name>MonitorStatusFormula</name>
        <dataType>String</dataType>
        <expression>if({!var_RiskLevel}=&apos;Low Risk&apos;,&apos;15 Minute Observation&apos;,&apos;30 Minute Observation&apos;)</expression>
    </formulas>
    <formulas>
        <name>NextYear</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate}+365</expression>
    </formulas>
    <formulas>
        <name>NextYearwithtime</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime}+365</expression>
    </formulas>
    <formulas>
        <name>ObserveTill_Formula</name>
        <dataType>DateTime</dataType>
        <expression>if({!var_RiskLevel}=&apos;Low Risk&apos;,{!$Flow.CurrentDateTime}+((1/1440)*15),{!$Flow.CurrentDateTime}+((1/1440)*30))</expression>
    </formulas>
    <formulas>
        <name>Users_AccountId</name>
        <dataType>String</dataType>
        <expression>{!$User.AccountID__c}</expression>
    </formulas>
    <formulas>
        <name>UsersName</name>
        <dataType>String</dataType>
        <expression>{!$User.FirstName}&amp;&quot; &quot;&amp;{!$User.LastName}</expression>
    </formulas>
    <formulas>
        <name>UserTitle</name>
        <dataType>String</dataType>
        <expression>{!$User.Title}</expression>
    </formulas>
    <interviewLabel>Vaccine Administer Flow V2 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Vaccine Administer Flow V2</label>
    <loops>
        <description>There should only be one selected.</description>
        <name>Loop_Through_Selected_RX_Orders2</name>
        <label>Loop Through Selected RX Orders</label>
        <locationX>1158</locationX>
        <locationY>1038</locationY>
        <collectionReference>var_SelectedRxOrders</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Selected_RX_Order_to_Variable</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assign_Step_2</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopThroughTemplate</name>
        <label>LoopThroughTemplate</label>
        <locationX>3330</locationX>
        <locationY>1399</locationY>
        <collectionReference>Get_Protocols_From_Template</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_this_the_first_dose_in_series</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Service_Appointment_Status</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Completed_Dose_One_for_Protocol</name>
        <label>Create Completed Dose One for Protocol</label>
        <locationX>3629</locationX>
        <locationY>1631</locationY>
        <connector>
            <targetReference>LoopThroughTemplate</targetReference>
        </connector>
        <inputAssignments>
            <field>Adherence_Schedule_in_days__c</field>
            <value>
                <elementReference>LoopThroughTemplate.Adherence_Schedule__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_Received__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Grace_Period_in_days__c</field>
            <value>
                <elementReference>LoopThroughTemplate.Grace_Period__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HealthCloudGA__DoseSequence__c</field>
            <value>
                <elementReference>LoopThroughTemplate.DoseNumber__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HealthCloudGA__DoseStatusLabel__c</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HealthCloudGA__Immunization__c</field>
            <value>
                <elementReference>Create_EHR_Immunizaton</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HealthCloudGA__SeriesDoses__c</field>
            <value>
                <elementReference>LoopThroughTemplate.Number_of_Doses_in_Series__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HealthCloudGA__Series__c</field>
            <value>
                <elementReference>LoopThroughTemplate.Dose_Label__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HealthCloudGA__SourceSystemId__c</field>
            <value>
                <stringValue>00D5w000006g0zL</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HealthCloudGA__SourceSystem__c</field>
            <value>
                <stringValue>Health1</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_Last_Dose_in_Series__c</field>
            <value>
                <elementReference>LoopThroughTemplate.Is_Last_Dose_in_Series__c</elementReference>
            </value>
        </inputAssignments>
        <object>HealthCloudGA__EhrVaccinationProtocol__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Completed_Dose_Two_for_Protocol</name>
        <label>Create Completed Dose Two+ for Protocol</label>
        <locationX>3018</locationX>
        <locationY>1638</locationY>
        <connector>
            <targetReference>LoopThroughTemplate</targetReference>
        </connector>
        <inputAssignments>
            <field>Adherence_Schedule_in_days__c</field>
            <value>
                <elementReference>LoopThroughTemplate.Adherence_Schedule__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Grace_Period_in_days__c</field>
            <value>
                <elementReference>LoopThroughTemplate.Grace_Period__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HealthCloudGA__DoseSequence__c</field>
            <value>
                <elementReference>LoopThroughTemplate.DoseNumber__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HealthCloudGA__DoseStatusLabel__c</field>
            <value>
                <elementReference>LoopThroughTemplate.Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HealthCloudGA__Immunization__c</field>
            <value>
                <elementReference>Create_EHR_Immunizaton</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HealthCloudGA__SeriesDoses__c</field>
            <value>
                <elementReference>LoopThroughTemplate.Number_of_Doses_in_Series__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HealthCloudGA__Series__c</field>
            <value>
                <elementReference>LoopThroughTemplate.Dose_Label__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HealthCloudGA__SourceSystemId__c</field>
            <value>
                <stringValue>00D5w000006g0zL</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HealthCloudGA__SourceSystem__c</field>
            <value>
                <stringValue>Health1</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_Last_Dose_in_Series__c</field>
            <value>
                <elementReference>LoopThroughTemplate.Is_Last_Dose_in_Series__c</elementReference>
            </value>
        </inputAssignments>
        <object>HealthCloudGA__EhrVaccinationProtocol__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_EHR_Immunizaton</name>
        <label>Create EHR Immunizaton</label>
        <locationX>3329</locationX>
        <locationY>1077</locationY>
        <connector>
            <targetReference>Get_Protocols_From_Template</targetReference>
        </connector>
        <inputAssignments>
            <field>HealthCloudGA__Account__c</field>
            <value>
                <elementReference>var_Persons_AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HealthCloudGA__DateAdministered__c</field>
            <value>
                <elementReference>var_DateTimeofInjection</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HealthCloudGA__DoseQuantityUnits__c</field>
            <value>
                <stringValue>mg</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HealthCloudGA__DoseQuantity__c</field>
            <value>
                <stringValue>20</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HealthCloudGA__LocationCity__c</field>
            <value>
                <elementReference>var_LocationCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HealthCloudGA__LocationName__c</field>
            <value>
                <elementReference>var_LocationName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HealthCloudGA__LocationPostalCode__c</field>
            <value>
                <elementReference>var_LocationPostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HealthCloudGA__LocationState__c</field>
            <value>
                <elementReference>var_LocationState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HealthCloudGA__LotNumber__c</field>
            <value>
                <elementReference>var_LotNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HealthCloudGA__SourceSystem__c</field>
            <value>
                <stringValue>Health1-00D5w000006g0zL</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HealthCloudGA__VaccineTypeLabel__c</field>
            <value>
                <stringValue>SARS-CoV-2</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Immunization_Status__c</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Manufacturer__c</field>
            <value>
                <elementReference>var_ManufacturerName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Rx_Inventory_Unit__c</field>
            <value>
                <elementReference>Create_Inventory_Unit</elementReference>
            </value>
        </inputAssignments>
        <object>HealthCloudGA__EhrImmunization__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Inventory_Unit</name>
        <label>Create Inventory Unit</label>
        <locationX>3184</locationX>
        <locationY>882</locationY>
        <connector>
            <targetReference>Does_EHR_Immunization_Exist</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>var_Persons_AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Dose__c</field>
            <value>
                <elementReference>var_DoseNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Injection_Site__c</field>
            <value>
                <elementReference>var_InjectionSite</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Person__c</field>
            <value>
                <elementReference>var_ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Inventory_Unit_Record_Type_Id.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Rx_Order__c</field>
            <value>
                <elementReference>var_SelectedRXOrder</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Issued</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>User_Category__c</field>
            <value>
                <stringValue>Medical Provider</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Vaccination_DateTime__c</field>
            <value>
                <elementReference>var_DateTimeofInjection</elementReference>
            </value>
        </inputAssignments>
        <object>Unit__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Clinic_Id</name>
        <label>Get Clinic Id</label>
        <locationX>824</locationX>
        <locationY>1175</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_RX_Orders</targetReference>
        </connector>
        <object>VaxForceConfig__c</object>
        <outputAssignments>
            <assignToReference>var_ClinicId</assignToReference>
            <field>Clinic_Account_ID__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact_Details</name>
        <label>Get Contact Details</label>
        <locationX>325</locationX>
        <locationY>449</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Service_Appointment_In_Progress</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>var_Persons_AccountId</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>var_DOB</assignToReference>
            <field>Birthdate</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>var_FirstName</assignToReference>
            <field>FirstName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>var_Gender</assignToReference>
            <field>Gender__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>var_ContactId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>var_LastName</assignToReference>
            <field>LastName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>var_Last4SSN</assignToReference>
            <field>Last_4_digits_of_SSN__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>var_MobilePhoneNumber</assignToReference>
            <field>MobilePhone</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_COVID_Immunization_History</name>
        <label>Get COVID Immunization History</label>
        <locationX>2201</locationX>
        <locationY>761</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Vaccine_Details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>HealthCloudGA__Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_Persons_AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>RX_Order_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_SelectedRXOrder</elementReference>
            </value>
        </filters>
        <object>HealthCloudGA__EhrImmunization__c</object>
        <outputAssignments>
            <assignToReference>var_EHR_RecordId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_EHR_Vaccination_Protocol</name>
        <label>Get EHR Vaccination Protocol</label>
        <locationX>2497</locationX>
        <locationY>584</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Screen_Administer_Vaccine1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>HealthCloudGA__Immunization__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_EHR_RecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>HealthCloudGA__EhrVaccinationProtocol__c</object>
        <sortField>HealthCloudGA__DoseSequence__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Immunization_History</name>
        <label>Get Immunization History</label>
        <locationX>825</locationX>
        <locationY>1019</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Clinic_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>HealthCloudGA__Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_Persons_AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>HealthCloudGA__EhrImmunization__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Inventory_Unit_Record_Type_Id</name>
        <label>Get Inventory Unit Record Type Id</label>
        <locationX>3026</locationX>
        <locationY>881</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Inventory_Unit</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Issue</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Unit__c</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Person_Account_Details</name>
        <label>Get Person Account Details</label>
        <locationX>56</locationX>
        <locationY>452</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Service_Appointment_In_Progress</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>var_FirstName</assignToReference>
            <field>FirstName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>var_Gender</assignToReference>
            <field>Gender__pc</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>var_Persons_AccountId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>var_LastName</assignToReference>
            <field>LastName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>var_Last4SSN</assignToReference>
            <field>Last_4_digits_of_SSN__pc</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>var_DOB</assignToReference>
            <field>PersonBirthdate</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>var_ContactId</assignToReference>
            <field>PersonContactId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>var_MobilePhoneNumber</assignToReference>
            <field>PersonMobilePhone</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Protocols_From_Template</name>
        <label>Get Protocols From Template</label>
        <locationX>3330</locationX>
        <locationY>1244</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopThroughTemplate</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Vaccine__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_VaccineId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Protocol__c</object>
        <sortField>DoseNumber__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>gets the RX Order(s) linked to the hard coded clinic&apos;s account.</description>
        <name>Get_RX_Orders</name>
        <label>Get RX Orders</label>
        <locationX>980</locationX>
        <locationY>1175</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Screen_Confirm_Patient</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_ClinicId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <filters>
            <field>Units_On_Hand__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Rx_Order__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>we want to confirm the consent form with the patient.</description>
        <name>Get_Service_Appointment_Details</name>
        <label>Get Service Appointment Details</label>
        <locationX>656</locationX>
        <locationY>866</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Step_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_ServiceAppointmentId</elementReference>
            </value>
        </filters>
        <object>ServiceAppointment</object>
        <outputAssignments>
            <assignToReference>var_Allergies_Y_N</assignToReference>
            <field>Allergies_Y_N__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>var_ConsentProvided</assignToReference>
            <field>Consent_Provided__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>DateTestedPositive</assignToReference>
            <field>Date_Tested_Positive_for_COVID19__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>var_Had_Covid_Y_N</assignToReference>
            <field>Had_COVID_Y_N__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>var_HealthConditionComments</assignToReference>
            <field>Health_Condition_NotesComments__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>var_Health_Conditions_Y_N</assignToReference>
            <field>Health_Conditions_Y_N__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>var_ServiceAppointmentId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>var_ImmuneSystemComments</assignToReference>
            <field>Immune_System_NotesComments__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>var_ListofAllergies</assignToReference>
            <field>List_of_Known_Allergies__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>var_Pregnant_Y_N</assignToReference>
            <field>Pregnant_Y_N__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>var_Previous_Reaction_Y_N</assignToReference>
            <field>Previous_Reaction_Y_N__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>var_reactionType</assignToReference>
            <field>Reaction_Type__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>var_RecentlyTookCovidTest</assignToReference>
            <field>Recently_Took_COVID_Test__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>var_RiskLevel</assignToReference>
            <field>Risk_Level__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>var_Sequence</assignToReference>
            <field>Sequence__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>var_AnaphylacticOutcome</assignToReference>
            <field>Severe_or_Anaphylactic_reaction_Y_N__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>var_Suppressed_Immune_System_Y_N</assignToReference>
            <field>Suppressed_Immune_System_Y_N__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>var_COVIDTestResult</assignToReference>
            <field>Test_Result__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>var_ReactionComments</assignToReference>
            <field>Vaccine_Reaction_NotesComments__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>get one in progress service appointments related to Person</description>
        <name>Get_Service_Appointment_Dose_2</name>
        <label>Get Service Appointment</label>
        <locationX>172</locationX>
        <locationY>1286</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Values_to_Record_Variable</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_Persons_AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Scheduled</stringValue>
            </value>
        </filters>
        <filters>
            <field>Sequence__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Second</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceAppointment</object>
        <sortField>SchedStartTime</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>get one in progress service appointments related to Person
added to get the scheduled appt incase someone forgets to do the Check In.</description>
        <name>Get_Service_Appointment_In_Progress</name>
        <label>Get Service Appointment</label>
        <locationX>180</locationX>
        <locationY>627</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Find_a_Service_Appointment</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>ParentRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_Persons_AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Scheduled</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceAppointment</object>
        <sortField>SchedStartTime</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Vaccine_Details</name>
        <label>Get Vaccine Details</label>
        <locationX>2342</locationX>
        <locationY>761</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Which_Dose_Is_This2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_VaccineId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Vaccine__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Consent_on_Service_Appt</name>
        <label>Update Consent on Service Appt</label>
        <locationX>2052</locationX>
        <locationY>959</locationY>
        <connector>
            <targetReference>Assign_Step_4</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_ServiceAppointmentId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Allergies__c</field>
            <value>
                <elementReference>HaveAllergiesFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Consent_Provided__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DateTime_Consent_Given__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_Tested_Positive_for_COVID19__c</field>
            <value>
                <elementReference>Date_Tested_Positive</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HadCovid19__c</field>
            <value>
                <elementReference>TestedPositiveForCovid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HadSevere_Anaphylactic_Reaction__c</field>
            <value>
                <elementReference>HadReactionFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Health_Condition_NotesComments__c</field>
            <value>
                <elementReference>HealthConditionsComments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Health_Conditions__c</field>
            <value>
                <elementReference>PreExistingConditions</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Immune_System_NotesComments__c</field>
            <value>
                <elementReference>ImmuneSystemComments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>List_of_Known_Allergies__c</field>
            <value>
                <elementReference>KnownAllergies</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reaction_Type__c</field>
            <value>
                <elementReference>SevereReaction</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sequence__c</field>
            <value>
                <stringValue>First</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Suppressed_Immune_System__c</field>
            <value>
                <elementReference>SuppressedImmuneSystem</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Test_Result__c</field>
            <value>
                <elementReference>What_was_the_test_result</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Took_COVID_Test__c</field>
            <value>
                <elementReference>Have_you_recently_taken_a_COVID_19_test</elementReference>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contact</name>
        <label>Update Contact</label>
        <locationX>4154</locationX>
        <locationY>552</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_ContactId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Monitor_Status__c</field>
            <value>
                <elementReference>MonitorStatusFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Observation_Outcome__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Observe_Till__c</field>
            <value>
                <elementReference>ObserveTill_Formula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reaction_Type__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Vaccination_Status__c</field>
            <value>
                <stringValue>Complete</stringValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contact_Status</name>
        <label>Update Contact Status</label>
        <locationX>3116</locationX>
        <locationY>1173</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_ContactId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Monitor_Status__c</field>
            <value>
                <elementReference>MonitorStatusFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Observation_Outcome__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Observe_Till__c</field>
            <value>
                <elementReference>ObserveTill_Formula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reaction_Type__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Registration_Code__c</field>
            <value>
                <stringValue>Mayo1234</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Vaccination_Status__c</field>
            <value>
                <stringValue>Received Dose 1</stringValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Dose_2_of_Protocol</name>
        <label>Update Dose 2 of Protocol</label>
        <locationX>3732</locationX>
        <locationY>885</locationY>
        <connector>
            <targetReference>AssignStep6</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>HealthCloudGA__Immunization__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_EHR_RecordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Is_Last_Dose_in_Series__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Date_Received__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HealthCloudGA__DoseStatusLabel__c</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <object>HealthCloudGA__EhrVaccinationProtocol__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_EHR_Immunization</name>
        <label>Update EHR Immunization</label>
        <locationX>3558</locationX>
        <locationY>885</locationY>
        <connector>
            <targetReference>Update_Dose_2_of_Protocol</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_EHR_RecordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>HealthCloudGA__DateAdministered__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HealthCloudGA__ExpirationDate__c</field>
            <value>
                <elementReference>NextYearwithtime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Immunization_Status__c</field>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </inputAssignments>
        <object>HealthCloudGA__EhrImmunization__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Service_Appointment</name>
        <label>Update Service Appointment</label>
        <locationX>3999</locationX>
        <locationY>546</locationY>
        <connector>
            <targetReference>Update_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_ServiceAppointmentId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ActualEndTime</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ActualStartTime</field>
            <value>
                <elementReference>$Flow.InterviewStartTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Service_Appointment_Status</name>
        <label>Update Service Appointment</label>
        <locationX>3181</locationX>
        <locationY>1258</locationY>
        <connector>
            <targetReference>Update_Contact_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_ServiceAppointmentId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ActualEndTime</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ActualStartTime</field>
            <value>
                <elementReference>$Flow.InterviewStartTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Allergies_Screen</name>
        <label>Allergies Screen</label>
        <locationX>1922</locationX>
        <locationY>761</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Step_4</targetReference>
        </connector>
        <fields>
            <name>Progress3</name>
            <extensionName>c:FlowProgressBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>DisplayText2</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Review Allergy/Reaction History from consent form:&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;i style=&quot;font-size: 14px;&quot;&gt;Please confirm the medical history information collected from the patient when the appointment was scheduled.&lt;/i&gt;&lt;/p&gt;&lt;p&gt;&lt;i style=&quot;font-size: 14px;&quot;&gt;If any changes, use the check box to update the patient&apos;s immunization form.&lt;/i&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(23, 152, 193); background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;Do you have any allergies? &lt;/span&gt;&lt;b style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;{!var_Allergies_Y_N}&lt;/b&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;  &lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;i style=&quot;color: rgb(23, 152, 193); background-color: rgb(255, 255, 255); font-size: 12px;&quot;&gt;if yes, list allergies:&lt;/i&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;u style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255); font-size: 16px;&quot;&gt;{!var_ListofAllergies}&lt;/u&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255); font-size: 16px;&quot;&gt; &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(23, 152, 193); font-size: 14px;&quot;&gt;Have you ever experienced a severe or anaphylactic reaction to any allergen, medication, or previous vaccine?  &lt;/span&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;{!var_AnaphylacticOutcome}; {!var_reactionType}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>HighRiskStatement</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; font-family: &amp;quot;Open Sans&amp;quot;, Helvetica, Roboto, Arial, sans-serif; color: rgb(74, 74, 74);&quot;&gt;The&amp;nbsp;&lt;/b&gt;&lt;a href=&quot;https://www.cdc.gov/vaccines/covid-19/info-by-product/clinical-considerations.html#:~:text=All%20other%20persons%20should%20be,vaccination%20sites%20has%20been%20published.&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; font-family: &amp;quot;Open Sans&amp;quot;, Helvetica, Roboto, Arial, sans-serif; color: rgb(33, 153, 232);&quot;&gt;&lt;b&gt;CDCs guidance&lt;/b&gt;&lt;/a&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; font-family: &amp;quot;Open Sans&amp;quot;, Helvetica, Roboto, Arial, sans-serif; color: rgb(74, 74, 74);&quot;&gt;&amp;nbsp;for post-vaccination observation says there should be a 30-minute observation period for:&lt;/b&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; font-family: &amp;quot;Open Sans&amp;quot;, Helvetica, Roboto, Arial, sans-serif; color: rgb(74, 74, 74);&quot;&gt;Persons with a history of an immediate allergic reaction of any severity to a vaccine or injectable therapy;&lt;/b&gt;&lt;/li&gt;&lt;li&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; font-family: &amp;quot;Open Sans&amp;quot;, Helvetica, Roboto, Arial, sans-serif; color: rgb(74, 74, 74);&quot;&gt;And for persons with a history of anaphylaxis due to&amp;nbsp;&lt;i&gt;any cause&lt;/i&gt;.&lt;/b&gt;&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>var_reactionType</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>No Reaction</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>LowRiskStatement</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; font-family: &amp;quot;Open Sans&amp;quot;, Helvetica, Roboto, Arial, sans-serif; color: rgb(74, 74, 74);&quot;&gt;For those who have allergies but have never experienced anaphylaxis, the observation period is 15 minutes, the same as for those with no allergy history.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>var_reactionType</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>No Reaction</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Line2</name>
            <extensionName>c:horizontalRuleFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>thicknessPixels</name>
                <value>
                    <stringValue>2</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>color</name>
                <value>
                    <stringValue>#1798C1</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>MakeChangesToAllergies</name>
            <dataType>Boolean</dataType>
            <fieldText>Check this box to make changes to the information on file.</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Allergies_Screen_0</name>
        <label>Allergies Screen</label>
        <locationX>1926</locationX>
        <locationY>959</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Consent_on_Service_Appt</targetReference>
        </connector>
        <fields>
            <name>Progress2_0_0</name>
            <extensionName>c:FlowProgressBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>DisplayText1_0_0</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Please confirm the medical history information with the patient.&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>KnownAllergies</name>
            <choiceReferences>Allergens</choiceReferences>
            <dataType>String</dataType>
            <fieldText>For those who have allergies but have never experienced anaphylaxis, the observation period is 15 minutes, the same as for those with no allergy history.</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>SevereReaction</name>
            <choiceReferences>NoReaction</choiceReferences>
            <choiceReferences>YesSevereReaction</choiceReferences>
            <choiceReferences>YesAnaphylaxis</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Have you ever experienced a severe or anaphylactic reaction to any allergen, medication, or previous vaccine?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>FastForwardScreen</name>
        <label>FastForwardScreen</label>
        <locationX>2085</locationX>
        <locationY>1420</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Service_Appointment_Dose_2</targetReference>
        </connector>
        <fields>
            <name>DsiplayText6</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Let us now fast forward to Charles next appointment for his COVID-19 vaccine:&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>FastForwardImage</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>Animated_Calendar</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Medical_History_Form</name>
        <label>Medical History Form</label>
        <locationX>1616</locationX>
        <locationY>959</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Step_3_0</targetReference>
        </connector>
        <fields>
            <name>Progress2_0</name>
            <extensionName>c:FlowProgressBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>DisplayText1_0</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Please confirm the medical history information with the patient.&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>PreExistingConditions</name>
            <choiceReferences>YesChoice</choiceReferences>
            <choiceReferences>NoChoice</choiceReferences>
            <dataType>Boolean</dataType>
            <fieldText>Do you have any health conditions that require regular visits to a doctor?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>HealthConditionsComments</name>
            <fieldText>Please provide more details:</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>PreExistingConditions</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>YesChoice</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>SuppressedImmuneSystem</name>
            <choiceReferences>YesChoice</choiceReferences>
            <choiceReferences>NoChoice</choiceReferences>
            <dataType>Boolean</dataType>
            <fieldText>Do you have any conditions that can suppress your immune system (i.e., HIV infection, problems with spleen, organ transplant, etc)?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ImmuneSystemComments</name>
            <fieldText>Please provide more details:</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>SuppressedImmuneSystem</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>YesChoice</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>TestedPositiveForCovid</name>
            <choiceReferences>YesChoice</choiceReferences>
            <choiceReferences>NoChoice</choiceReferences>
            <dataType>Boolean</dataType>
            <fieldText>Have you previously tested positive for COVID-19?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Date_Tested_Positive</name>
            <dataType>Date</dataType>
            <fieldText>Date Tested Positive:</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>TestedPositiveForCovid</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>YesChoice</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Have_you_recently_taken_a_COVID_19_test</name>
            <choiceReferences>YesChoice</choiceReferences>
            <choiceReferences>NoChoice</choiceReferences>
            <dataType>Boolean</dataType>
            <fieldText>Have you recently taken a COVID-19 test?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <helpText>&lt;p&gt;in the last 2-3 months.&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>What_was_the_test_result</name>
            <choiceReferences>Choices_TestResults</choiceReferences>
            <dataType>String</dataType>
            <fieldText>What was the test result</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Have_you_recently_taken_a_COVID_19_test</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>YesChoice</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Pregnant</name>
            <choiceReferences>YesChoice</choiceReferences>
            <choiceReferences>NoChoice</choiceReferences>
            <dataType>Boolean</dataType>
            <fieldText>Are you pregnant or considering becoming pregnant within one month?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>var_Gender</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Female</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Medical_History_Screen</name>
        <label>Medical History Screen</label>
        <locationX>1608</locationX>
        <locationY>760</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Step_3</targetReference>
        </connector>
        <fields>
            <name>Progress2</name>
            <extensionName>c:FlowProgressBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>DisplayText1</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Review Medical History from consent form:&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;i style=&quot;font-size: 14px;&quot;&gt;Please confirm the medical history information collected from the patient when the appointment was scheduled.&lt;/i&gt;&lt;/p&gt;&lt;p&gt;&lt;i style=&quot;font-size: 14px;&quot;&gt;If any changes, use the check box to update the patient&apos;s immunization form.&lt;/i&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(23, 152, 193); font-size: 14px;&quot;&gt;Do you have any health conditions that require regular visits to a doctor?  &lt;/span&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;{!var_Health_Conditions_Y_N} &lt;/b&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;  &lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;i style=&quot;font-size: 12px; color: rgb(23, 152, 193);&quot;&gt;if yes, describe:&lt;/i&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;u style=&quot;font-size: 16px;&quot;&gt;{!var_HealthConditionComments}&lt;/u&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(23, 152, 193); font-size: 14px;&quot;&gt;Do you have any conditions that can suppress your immune system (i.e., HIV infection, problems with spleen, organ transplant, etc)?&lt;/span&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;{!var_Suppressed_Immune_System_Y_N}&lt;/b&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;  &lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;i style=&quot;font-size: 12px; color: rgb(23, 152, 193);&quot;&gt;if yes, describe:&lt;/i&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;u style=&quot;font-size: 16px;&quot;&gt;{!var_ImmuneSystemComments}&lt;/u&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(23, 152, 193); font-size: 14px;&quot;&gt;Have you previously tested positive for COVID-19? &lt;/span&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt; &lt;/span&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;{!var_Had_Covid_Y_N}&lt;/b&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;  &lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;i style=&quot;font-size: 12px; color: rgb(23, 152, 193);&quot;&gt;if yes, when:&lt;/i&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;u style=&quot;font-size: 16px;&quot;&gt;{!DateTestedPositive}&lt;/u&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(23, 152, 193); font-size: 14px;&quot;&gt;Have you recently taken a COVID-19 test? &lt;/span&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt; &lt;/span&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;{!var_RecentlyTookCovidTest}&lt;/b&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;i style=&quot;color: rgb(23, 152, 193);&quot;&gt;if yes, what was the result&lt;/i&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;u style=&quot;font-size: 16px;&quot;&gt;{!var_COVIDTestResult}&lt;/u&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DisplayText3</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(23, 152, 193); background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;Are you pregnant or considering becoming pregnant within one month? &lt;/span&gt;&lt;b style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;{!var_Pregnant_Y_N}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>var_Gender</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Female</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Line3</name>
            <extensionName>c:horizontalRuleFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>thicknessPixels</name>
                <value>
                    <stringValue>2</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>color</name>
                <value>
                    <stringValue>#1798C1</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>MakeChangesToMedicalHistory</name>
            <dataType>Boolean</dataType>
            <fieldText>Check this box to make changes to the information on file.</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>MontorPatientScreen</name>
        <label>MonitorPatient</label>
        <locationX>2930</locationX>
        <locationY>1283</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Schedule_Dose_2</targetReference>
        </connector>
        <fields>
            <name>Progress5</name>
            <extensionName>c:FlowProgressBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>HighRiskImage_0</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>Vaxforce_HighRisk</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageHeight</name>
                <value>
                    <stringValue>200px</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>var_reactionType</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>No Reaction</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>HighRiskStatement_0</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(74, 74, 74); font-family: &amp;quot;Open Sans&amp;quot;, Helvetica, Roboto, Arial, sans-serif; font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;The&amp;nbsp;&lt;/b&gt;&lt;a href=&quot;https://www.cdc.gov/vaccines/covid-19/info-by-product/clinical-considerations.html#:~:text=All%20other%20persons%20should%20be,vaccination%20sites%20has%20been%20published.&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(33, 153, 232); font-family: &amp;quot;Open Sans&amp;quot;, Helvetica, Roboto, Arial, sans-serif; font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;&lt;b&gt;CDCs guidance&lt;/b&gt;&lt;/a&gt;&lt;b style=&quot;color: rgb(74, 74, 74); font-family: &amp;quot;Open Sans&amp;quot;, Helvetica, Roboto, Arial, sans-serif; font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;&amp;nbsp;for post-vaccination observation says there should be a 30-minute observation period for:&lt;/b&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;b style=&quot;color: rgb(74, 74, 74); font-family: &amp;quot;Open Sans&amp;quot;, Helvetica, Roboto, Arial, sans-serif; font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;Persons with a history of an immediate allergic reaction of any severity to a vaccine or injectable therapy;&lt;/b&gt;&lt;/li&gt;&lt;li&gt;&lt;b style=&quot;color: rgb(74, 74, 74); font-family: &amp;quot;Open Sans&amp;quot;, Helvetica, Roboto, Arial, sans-serif; font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;And for persons with a history of anaphylaxis due to&amp;nbsp;&lt;i&gt;any cause&lt;/i&gt;.&lt;/b&gt;&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>var_reactionType</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>No Reaction</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>LowRiskStatement_0</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; font-family: &amp;quot;Open Sans&amp;quot;, Helvetica, Roboto, Arial, sans-serif; color: rgb(74, 74, 74);&quot;&gt;For those who have allergies but have never experienced anaphylaxis, the observation period is 15 minutes, the same as for those with no allergy history.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>var_reactionType</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>No Reaction</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Line10</name>
            <extensionName>c:horizontalRuleFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>thicknessPixels</name>
                <value>
                    <stringValue>2</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>verticalMarginPixels</name>
                <value>
                    <stringValue>24</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>color</name>
                <value>
                    <stringValue>#1798C1</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>ScheduleDose2</name>
            <dataType>Boolean</dataType>
            <fieldText>Do you want to schedule the next appointment?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Does_the_patient_want_information_about_VSafe_texted_to_them</name>
            <dataType>Boolean</dataType>
            <fieldText>Does the patient want information about VSafe texted to them?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Review_Immunization_History</name>
        <label>Review Immunization History</label>
        <locationX>1301</locationX>
        <locationY>1038</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Loop_Through_Selected_RX_Orders2</targetReference>
        </connector>
        <fields>
            <name>FlowProgress_Step1</name>
            <extensionName>c:FlowProgressBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>ReviewImmunizationHistoryDisplayText2</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Below is the information found in the patient&apos;s EHR:&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ReviewImmunizationHistoryTable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>HealthCloudGA__EhrImmunization__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatableV2</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>HealthCloudGA__VaccineTypeLabel__c,Manufacturer__c,HealthCloudGA__LotNumber__c,HealthCloudGA__LocationName__c,Received_On__c,Expires_On__c,Immunization_Status__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Immunization_History</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideCheckboxColumn</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnTypeAttribs</name>
                <value>
                    <stringValue>5:{year: 2-digit, month: numeric, day: numeric};6:{year: 2-digit, month: numeric, day: numeric}</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnLabels</name>
                <value>
                    <stringValue>1:Type,3:Lot #,5:Received,6:Expires On,7:Status</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnOtherAttribs</name>
                <value>
                    <stringValue>2:{wrapText:true}</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Manually_Add_Immnuization</name>
            <dataType>Boolean</dataType>
            <fieldText>Check here to manually add an Immunization to the patient&apos;s record.</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ReviewImmunizationHistoryDisplayText1</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; color: rgb(0, 0, 0);&quot;&gt;Immunization providers may encounter persons who do not have documentation of the vaccines they have received. Providers should only accept written, dated records as evidence of vaccination, with the exception of influenza vaccine and pneumococcal polysaccharide vaccine (PPSV23). Self-reported doses of these vaccines are acceptable.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 17px; font-family: &amp;quot;Open Sans&amp;quot;, apple-system, blinkmacsystemfont, &amp;quot;Segoe UI&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, arial, sans-serif; color: rgb(0, 0, 0);&quot;&gt;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; color: rgb(0, 0, 0);&quot;&gt;Vaccinations should not be postponed if records are not available, but providers should attempt to locate missing records by contacting the patients previous health care providers and/or the immunization program at the state or local health department, reviewing state or local IIS data, and asking patients to search for a personal vaccination record.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Manually_Add_Immnuization</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Line1</name>
            <extensionName>c:horizontalRuleFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>color</name>
                <value>
                    <stringValue>#1798C1</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>thicknessPixels</name>
                <value>
                    <stringValue>2</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>ReviewImmunizationHistoryDisplayText3</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Select the appropriate vaccine being administered:&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;i&gt;Below is a list of available vaccines at the clinic, please confirm the correct vaccine and manufacturer being administered to the patient:&lt;/i&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SelectInventoryUnitBeingAdministered</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Rx_Order__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatableV2</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Trade_Name__c,Manufacturers_Name__c,Units_On_Hand__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_RX_Orders</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>singleRowSelection</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>suppressBottomBar</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnAlignments</name>
                <value>
                    <stringValue>3:right</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>var_SelectedRxOrders</assignToReference>
                <name>outputSelectedRows</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_Administer_Vaccine1</name>
        <label>Administer Vaccine</label>
        <locationX>2873</locationX>
        <locationY>585</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Inputs_to_Variables_Dose2</targetReference>
        </connector>
        <fields>
            <name>Progress4_0</name>
            <extensionName>c:FlowProgressBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Text1</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Review the previous vaccination dose information:&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DosageDetails</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>HealthCloudGA__EhrVaccinationProtocol__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatableV2</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>HealthCloudGA__Series__c,HealthCloudGA__DoseStatusLabel__c,Date_Received__c,Due_Date__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_EHR_Vaccination_Protocol</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>singleRowSelection</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideCheckboxColumn</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>WhichDoseIsThis_2</name>
            <choiceReferences>Dose1Choice</choiceReferences>
            <choiceReferences>Dose2</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Dose2</defaultSelectedChoiceReference>
            <fieldText>Which dose is this?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Line</name>
            <extensionName>c:horizontalRuleFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>thicknessPixels</name>
                <value>
                    <stringValue>2</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>color</name>
                <value>
                    <stringValue>#1798C1</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Text2</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;Complete the following information about the current vaccine injection.&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;i&gt;Optionally you can use the camera of your mobile device to scan the barcode to complete this information.&lt;/i&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>BarcodeScanner</name>
            <extensionName>c:barcodeScannerFlowComponent</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>autoAdvance</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>var_BarcodeScan_output</assignToReference>
                <name>scannedBarcode</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Vaccine_Type</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>var_VaccineType</elementReference>
            </defaultValue>
            <fieldText>Vaccine Type</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Manufacturer2</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>var_ManufacturerName</elementReference>
            </defaultValue>
            <fieldText>Manufacturer</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Lot_Number_2</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>var_LotNumber</elementReference>
            </defaultValue>
            <fieldText>Lot Number:</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>InjectionSite_2</name>
            <choiceReferences>InjectionSites</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Injection Site</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Date_Time_of_Vaccination_2</name>
            <dataType>DateTime</dataType>
            <defaultValue>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </defaultValue>
            <fieldText>Date &amp; Time of Vaccination</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Administered_By2</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>UsersName</elementReference>
            </defaultValue>
            <fieldText>Administered By:</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Title2</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>UserTitle</elementReference>
            </defaultValue>
            <fieldText>Title:</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Line1_0</name>
            <extensionName>c:horizontalRuleFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>thicknessPixels</name>
                <value>
                    <stringValue>2</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>color</name>
                <value>
                    <stringValue>#1798C1</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>DisplayText5</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Please review the following Contraindications, Precautions, and Warnings:&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DisplayText7</name>
            <fieldText>&lt;p&gt;&lt;b&gt;This information was last updated on &lt;/b&gt;&lt;b style=&quot;color: rgb(215, 10, 10);&quot;&gt;{!Get_Vaccine_Details.Current_As_Of_Date__c}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Contraindications2</name>
            <fieldText>&lt;p&gt;{!Get_Vaccine_Details.Contraindication__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_Administer_Vaccine_Dose1</name>
        <label>Administer Vaccine Dose1</label>
        <locationX>2494</locationX>
        <locationY>1009</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Was_BarCode_Scanned_0</targetReference>
        </connector>
        <fields>
            <name>Progress4_0_0</name>
            <extensionName>c:FlowProgressBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Text2_0</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Complete the following information about the current vaccine injection:&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;i style=&quot;font-size: 12px;&quot;&gt;Optionally you can use the camera of your mobile device to scan the barcode to complete this information.&lt;/i&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>WhichDoseIsThis_2</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <elementReference>selectavalue</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>BarCodeScanner1</name>
            <extensionName>c:barcodeScannerFlowComponent</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>autoAdvance</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>var_BarcodeScan_output</assignToReference>
                <name>scannedBarcode</name>
            </outputParameters>
        </fields>
        <fields>
            <name>WhichDoseIsThis_1</name>
            <choiceReferences>Dose1Choice</choiceReferences>
            <choiceReferences>Dose2</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Dose1Choice</defaultSelectedChoiceReference>
            <fieldText>Which dose is this?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Vaccine_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>var_VaccineType</elementReference>
            </defaultValue>
            <fieldText>Vaccine Name:</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Manufacturer</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>var_ManufacturerName</elementReference>
            </defaultValue>
            <fieldText>Manufacturer:</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Lot_Number1</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>var_LotNumber</elementReference>
            </defaultValue>
            <fieldText>Lot Number:</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>InjectionSite_1</name>
            <choiceReferences>InjectionSites</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Injection Site:</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>WhichDoseIsThis_2</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <elementReference>selectavalue</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>DateTimeofVaccination_1</name>
            <dataType>DateTime</dataType>
            <defaultValue>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </defaultValue>
            <fieldText>Date &amp; Time of Vaccination</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>WhichDoseIsThis_2</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <elementReference>selectavalue</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Administered_By</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>UsersName</elementReference>
            </defaultValue>
            <fieldText>Administered By:</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Title</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>UserTitle</elementReference>
            </defaultValue>
            <fieldText>Title:</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Line1_0_0</name>
            <extensionName>c:horizontalRuleFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>thicknessPixels</name>
                <value>
                    <stringValue>4</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>WhichDoseIsThis_2</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <elementReference>selectavalue</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>DisplayText</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Please review the following Contraindications, Precautions, and Warnings:&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Contraindication1</name>
            <fieldText>&lt;p&gt;{!Get_Vaccine_Details.Contraindication__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_Confirm_Patient</name>
        <label>Screen: Confirm Patient</label>
        <locationX>1153</locationX>
        <locationY>1175</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Step_1</targetReference>
        </connector>
        <fields>
            <name>ProgressScreen1</name>
            <extensionName>c:FlowProgressBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>ConfirmPatientDisplayText1</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Please confirm the information we have on file:&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ConfirmPatientDisplayText2</name>
            <fieldText>&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;b style=&quot;color: rgb(23, 152, 193); font-size: 14px;&quot;&gt;Name: &lt;/b&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;{!var_FirstName} {!var_LastName}&lt;/b&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;b style=&quot;color: rgb(23, 152, 193); font-size: 14px;&quot;&gt;DOB: &lt;/b&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;{!var_DOB}&lt;/b&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;b style=&quot;color: rgb(23, 152, 193); font-size: 14px;&quot;&gt;Last 4 of SSN: &lt;/b&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;{!var_Last4SSN}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Line4</name>
            <extensionName>c:horizontalRuleFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>thicknessPixels</name>
                <value>
                    <stringValue>2</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>color</name>
                <value>
                    <stringValue>#1798C1</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>ConfirmPatientDisplayText3</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 16px; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Confirm with patient the vaccine being received today:&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>VaccineToBeAdministered</name>
            <choiceReferences>VaccineChoices</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Which Vaccine(s) are you here to receive today?</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>VerbalConsent</name>
            <dataType>Boolean</dataType>
            <fieldText>Verbal Consent: The legal decision-maker has been made aware of the benefits and the risks of the vaccine(s) offered to the above person and consents for the identified person to be immunized.</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Test_Screen</name>
        <label>Test Screen</label>
        <locationX>3732</locationX>
        <locationY>733</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Digital_Cred_from_IBM</targetReference>
        </connector>
        <fields>
            <name>Progress5b</name>
            <extensionName>c:FlowProgressBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>AgentScript3</name>
            <extensionName>agentScript:agentScript</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>script</name>
                <value>
                    <stringValue>You will receive an email with instructions to access your IBM Digital Health Pass. You can use your Health Pass to prove your vaccination status to such places as a work, school, venues, conventions, or airline flights.  Privacy is key and the digital wallet will allow you to maintain control of your personal health information and share it in a way that is secured, verifiable, and trusted.</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>size</name>
                <value>
                    <stringValue>small</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>color</name>
                <value>
                    <stringValue>rgb(75, 107, 175)</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <stages>
        <name>Step0_Confirm_Patient</name>
        <isActive>true</isActive>
        <label>Confirm Patient</label>
        <stageOrder>1</stageOrder>
    </stages>
    <stages>
        <name>Step1_ReviewHistory</name>
        <isActive>true</isActive>
        <label>Review History</label>
        <stageOrder>10</stageOrder>
    </stages>
    <stages>
        <name>Step2_Medical_History</name>
        <isActive>true</isActive>
        <label>Medical History</label>
        <stageOrder>20</stageOrder>
    </stages>
    <stages>
        <name>Step3_Allergies</name>
        <isActive>true</isActive>
        <label>Allergies</label>
        <stageOrder>30</stageOrder>
    </stages>
    <stages>
        <name>Step4_Administer_Vaccine</name>
        <isActive>true</isActive>
        <label>Administer Vaccine</label>
        <stageOrder>40</stageOrder>
    </stages>
    <stages>
        <name>Step5_Monitor</name>
        <isActive>true</isActive>
        <label>Monitor</label>
        <stageOrder>50</stageOrder>
    </stages>
    <stages>
        <name>Step6_Confirmation</name>
        <isActive>true</isActive>
        <label>Confirmation</label>
        <stageOrder>60</stageOrder>
    </stages>
    <start>
        <locationX>52</locationX>
        <locationY>26</locationY>
        <connector>
            <targetReference>What_Object_is_the_Record_Id</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Create_a_Service_Appt</name>
        <label>Create a Service Appt</label>
        <locationX>338</locationX>
        <locationY>866</locationY>
        <connector>
            <targetReference>Get_Service_Appointment_Details</targetReference>
        </connector>
        <flowName>Check_in_Walk_In</flowName>
        <inputAssignments>
            <name>var_FirstName</name>
            <value>
                <elementReference>var_FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_LastName</name>
            <value>
                <elementReference>var_LastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_PersonAccountID</name>
            <value>
                <elementReference>var_Persons_AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_PersonContactId</name>
            <value>
                <elementReference>var_ContactId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>var_ServiceAppointmentId</assignToReference>
            <name>var_ServiceAppointmentId</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Schedule_Dose_2_Flow</name>
        <label>Schedule Dose 2</label>
        <locationX>2825</locationX>
        <locationY>1473</locationY>
        <connector>
            <targetReference>Send_Text</targetReference>
        </connector>
        <flowName>COVID_19_Appointment_Schedule_Dose_2</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>var_ContactId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Text_Vsafe_information_0</name>
        <label>Text Vsafe information</label>
        <locationX>2580</locationX>
        <locationY>1464</locationY>
        <connector>
            <targetReference>FastForwardScreen</targetReference>
        </connector>
        <flowName>Text_VSafe_Enrollment_to_Citizen</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>var_Persons_AccountId</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>DateTestedPositive</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>this is the default record id that a quick action natively passes into a flow. It is expected to be a person account!</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Allergies_Y_N</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>&quot;Unknown&quot;</stringValue>
        </value>
    </variables>
    <variables>
        <name>var_AllMessagesFromProtocols</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_AnaphylacticOutcome</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>No</stringValue>
        </value>
    </variables>
    <variables>
        <name>var_BarcodeScan_output</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>var_ClinicId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>var_ConfirmedMobilePhoneNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_ConsentProvided</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>var_ContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_COVIDTestResult</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_DateTimeofInjection</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_DOB</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_DoseNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_EHR_RecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>var_FirstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Gender</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Had_Covid_Y_N</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>&quot;Unknown&quot;</stringValue>
        </value>
    </variables>
    <variables>
        <name>var_Health_Conditions_Y_N</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>&quot;Unknown&quot;</stringValue>
        </value>
    </variables>
    <variables>
        <name>var_HealthConditionComments</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>var_ImmuneSystemComments</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>var_InjectionSite</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Last4SSN</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_LastName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_ListofAllergies</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>var_LocationCity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_LocationName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_LocationPostalCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_LocationState</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_LotNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_ManufacturerName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_MobileConsent</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_MobilePhoneNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Persons_AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_PreExistingConditions</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>var_Pregnant</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>var_Pregnant_Y_N</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>&quot;Unknown&quot;</stringValue>
        </value>
    </variables>
    <variables>
        <name>var_Previous_Reaction_Y_N</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>&quot;Unknown&quot;</stringValue>
        </value>
    </variables>
    <variables>
        <name>var_ReactionComments</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>var_reactionType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_RecentlyTookCovidTest</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>No</stringValue>
        </value>
    </variables>
    <variables>
        <name>var_RiskLevel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>No Risk</stringValue>
        </value>
    </variables>
    <variables>
        <name>var_RX_Order_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>0015w00002CytKHAAZ</stringValue>
        </value>
    </variables>
    <variables>
        <name>var_SelectedAppointments</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>var_SelectedProtocols</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Protocol__c</objectType>
    </variables>
    <variables>
        <name>var_SelectedRXOrder</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>record collection variable</description>
        <name>var_SelectedRxOrders</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Rx_Order__c</objectType>
    </variables>
    <variables>
        <name>var_Sequence</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_ServiceAppointmentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>var_Suppressed_Immune_System_Y_N</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>&quot;Unknown&quot;</stringValue>
        </value>
    </variables>
    <variables>
        <name>var_SupressedImmuneSystem</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>var_TestedPositiveForCovid</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>var_VaccineId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_VaccineType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
